<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Rubik', sans-serif;
        }
            .navbar a{
                color: #fff;
                font-weight: bold;
            }
            input{
                width: 100%;
                max-width: 600px;
            }
            form{
                display: grid;
                place-items: center;
            }
    </style>
</head>
<body>
    <section class="navbar_section">
          <nav class="navbar navbar-expand-lg  bg-warning">
  <a class="navbar-brand" href="#">PizzaHat</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/foodapi">Foodapi</a>
      </li>
    </ul>
  </div>
</nav>
    </section>
    <section class="container">
        <div  class="row">
               <div class="col-md-10 mx-auto mt-5">
                   <h3 class="text-center alert alert-primary"> Welcome To Teasty Food World</h3>
                   <form>
                        <div class="form-group">
                               <input class="form-control"  type="text"placeholder="Enter your fav food.."id="input_box">
                               <button class="btn btn-success my-3 ml-5"id="searchbtn" >Search</button>

                    </div>
                   </form>
                   <div class="search_input mx-auto row ">
                       <div class="col-md-4 my-3 pb-4">
                                 <div class="card item ">
                                 <figure>
                                     <img src="https://www.sickchirpse.com/wp-content/uploads/2016/06/Burrito-1.jpg" alt="" class="img-fluid">
                                 </figure>
                                 </div>
                                 <div class='card_info'>
                                     <h3>price :344.54</h3>
                                     <p>Quality:5:🌟</p>

                                 </div>
                       </div>
                       


                        <div class="col-md-4 my-3 pb-4">
                                 <div class="card item ">
                                 <figure>
                                     <img src="https://www.sickchirpse.com/wp-content/uploads/2016/06/Burrito-1.jpg" alt="" class="img-fluid">
                                 </figure>
                                 </div>
                                 <div class='card_info'>
                                     <h3>price :344.54</h3>
                                     <p>Quality:5:🌟</p>

                                 </div>
                       </div>
                        <div class="col-md-4 my-3 pb-4">
                                 <div class="card item ">
                                 <figure>
                                     <img src="https://www.sickchirpse.com/wp-content/uploads/2016/06/Burrito-1.jpg" alt="" class="img-fluid">
                                 </figure>
                                 </div>
                                 <div class='card_info'>
                                     <h3>price :344.54</h3>
                                     <p>Quality:5:🌟</p>

                                 </div>
                       </div>
                           

                   </div>
                 


            </div>
            </div>
       


    </section>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
    const APP_ID='909424aa'
    const APP_KEY='0c088a86bf3488da40ec5d4986bcbe96'
   let searchResultdiv= document.querySelector('.search_input');
     document.querySelector('form').addEventListener('submit',(e)=>{
        e.preventDefault()
         let data=document.querySelector('input').value;
         console.log(data)
         fetchapi(data)
     })


 async function fetchapi(name){
   const data= await fetch(`https://api.edamam.com/search?q=${name}&app_id=${APP_ID}&app_key=${APP_KEY}&to=20`)
   console.log(data)
  let newdata= await data.json()
   console.log(newdata.hits)
   generatedHTML(newdata.hits)

}

function  generatedHTML(comingdata){
    let generateHTML='';
    comingdata.map(result =>{
        generateHTML+=` <div class="card item  pb-4 mb-4 mx-5">
                                 <figure>
                                     <img src="${result.recipe.image}" alt="" class="img-fluid ">
                                 </figure>
                                 <div class='card_info'>
                                     <h3>${result.recipe.label}</h3>
                                     <p>calories: ${result.recipe.calories}</p>

                                 </div>


                           </div>`

    })
     searchResultdiv.innerHTML= generateHTML;
}

</script>
</body>
</html>